<div class="container-fluid">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </div>
         <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sources <b class="caret"></b></a>
                  <ul class="dropdown-menu multi-column columns-3">
                     <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                           <li class="list-inline center-block text-center">News</li>
                           <li class="divider"></li>
                           <li><a ui-sref="home({source: 'associated-press'})" href="#">Associated Press</a></li>
                           <li><a ui-sref="home({source: 'google-news'})" href="#">Google News</a></li>
                           <li><a ui-sref="home({source: 'reuters'})" href="#">Reuters</a></li>
                        </ul>
                     </div>
                     <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                           <li class="list-inline center-block text-center">Tech</li>
                           <li class="divider"></li>
                           <li><a ui-sref="home({source: 'hacker-news'})"; bubb href="#">Hacker News</a></li>
                           <li><a ui-sref="home({source: 'recode'})" href="#">Recode</a></li>
                           <li><a ui-sref="home({source: 'techcrunch'})" href="#">Tech Crunch</a></li>
                        </ul>
                     </div>
                     <div class="col-sm-4">
                        <ul class="multi-column-dropdown">
                           <li class="list-inline center-block text-center">Entertainment</li>
                           <li class="divider"></li>
                           <li><a ui-sref="home({source: 'ign'})" href="#">IGN</a></li>
                           <li><a ui-sref="home({source: 'polygon'})" href="#">Polygon</a></li>
                           <li><a ui-sref="home({source: 'reddit-r-all'})" href="#">Reddit</a></li>
                        </ul>
                     </div>
                  </ul>
               </li>
               <li ui-sref="saved" ng-click=""><a href="">Saved</a></li>

            </ul>
         </div>
      </nav>
   </div>