  <div class="newsContainer">
    <div ng-repeat="article in fc.newsData">
        <div class="newsBorder text-center">
            <div ng-click="fc.redirectFn({article: article})"><!--first article is from saved.html and second article is from this file-->
                <img class="newsImage" ng-src="{{article.UrlImage}}">
                <p class="text-center">{{article.Title}}</p>
            </div>
            <button ng-if="!article.saved" class="btn btn-default text-center" type="submit" ng-click="fc.buttonFn({article: article})">{{fc.buttonLabel}}</button> 
            <button ng-if="article.saved" class="btn btn-default text-center" type="submit">Saved</button>
        </div>
    </div>
</div>  