<head>

</head>

<body>
    <div>
        Title
    </div>
    <div>
        Home Saved Ranking
    </div>
    <div class="dropdown">
        
        <button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            Sources
                <span class="caret"></span>
                </button>
        <ul class="dropdown-menu multi-column columns-3 col-sm-8" aria-labelledby="dropdownMenu">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                        <li>News</li>
                        <li class="divider"></li>
                        <li><a href="">Associated Press</a></li>
                        <li><a href="">Google News</a></li>
                        <li><a href="">Reuters</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                        <li>Tech</li>
                        <li class="divider"></li>
                        <li><a href="">Hacker News</a></li>
                        <li><a href="">Recode</a></li>
                        <li><a href="">Tech Crunch</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="multi-column-dropdown">
                        <li>Entertainment</li>
                        <li class="divider"></li>
                        <li><a href="">IGN</a></li>
                        <li><a href="">Polygon</a></li>
                        <li><a href="">Reddit</a></li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>

</body>