<div class="">
    <div class="title">
        Title
    </div>
    <format-component news-data="newsData" button-fn="saveArticle(article)" redirect-fn="redirectToUrl(article)" button-label="Save"></format-component>
   <!--home articles  -->
   <!-- <div class="newsContainer">
       <div ng-repeat="article in newsData">
           <div class="newsBorder text-center">
               <div ng-click="redirectToUrl(article.Url)">
                    <img class="newsImage" ng-src="{{article.UrlImage}}">
                    <p class="text-center">{{article.Title}}</p>
               </div>
                <button ng-if="!article.saved" class="btn btn-default text-center" type="submit" ng-click="saveArticle(article)" >Save</button>
                <button ng-if="article.saved" class="btn btn-default text-center" type="submit">Saved</button>
            </div>
        </div>
    </div> -->

</div>