.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}

.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #999;
}

/*@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}*/

/*.thumbnailImage {
    height: 100%;
    width: 100%;
}*/

/*.thumbnail{
    display: inline-block;
    width: 350px;
    position: relative;
}*/

.inner {
    border-top: 0;
    border-left: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    border-right: solid 1px #c4c4c4;
    box-shadow: 0 1px #c1c1c1;
    padding-bottom: 1em;
    padding: 1em;
    height: auto;
}

.best_thumbnail {
     height: 300px;
    width: 342px;
}
.newsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.newsImage {
    height: 500px;
    width: 600px;
    padding: 20px;
}
.newsBorder {
    border: 1px solid black
}
#savedNewsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.hidden {
    display: none;
}
#hideArticles {
    display: none;
}