<div>
    <div class="title">
        Title
    </div>

    <!--saved articles  -->
    <div class="newsContainer">
        <div ng-repeat="article in newsData" ng-click="redirectToUrl(article.Url)">
            <div class="newsBorder text-center">
                <img class="newsImage" ng-src="{{article.UrlImage}}">
                <p class="text-center">{{article.Title}}</p>
                <button class="btn btn-default text-center" type="submit">Delete</button>
            </div>
        </div>
    </div>
</div>

